* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }
  


.box{
    background-color: rgb(25, 24, 24);
    padding: 30px 30px;
    margin: 20px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.heading{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 25px;
    margin: 5px 5px 20px 5px;
}
.box1{
    display: flex;
    flex-direction: row;
}

.box1 input{
    background-color: rgb(60, 60, 60);
    border-radius: 5px;
    padding: 0px 4px 0px 4px;
    margin:2px;
    width: 160px;
    font-size: 17px;
    color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
}
.box1 button{
    background-color: rgb(119, 0, 255);
    border-radius: 5px;
    color: white;
    padding: 7px 8px;
    margin: 5px 0px 5px 5px;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.box1 button:hover{
    background-color: rgb(99, 0, 213);
}
#box2{
    margin-top: 15px;
}
#box2 p{
    margin-top: 10px;
    
}
#error{
    margin-top: 7px;
    color: red;
    
}
.hidden{
    display: none;
    visibility: hidden;
}